img
{
  image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
  image-rendering: -webkit-crisp-edges; // Safari 7+
  image-rendering: -moz-crisp-edges; // Firefox 3.6+
  image-rendering: -o-crisp-edges; // Opera 12
}

.hcmsWorkplaceExplorer
{
  margin: 0;
  padding: 0;
  background-image: url('../img/backgrd_explorer.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #FFFFFF;
}

.hcmsWorkplaceControl
{
  margin: 0;
  padding: 0;
  background-color: #71ABFF;
}

.hcmsWorkplaceWorkflow
{
  background-color: #7BB5FF;
}

.hcmsWorkplaceObjectlist
{
  background-color: #B8D2FC;
}

.hcmsWorkplaceObjectlistLinks
{
  margin: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ADE6BA;
}

.hcmsWorkplaceFrame
{
  border: 0;
  margin: 0; 
  padding: 8px;
}

.hcmsWorkplaceBar
{
  background-color: #A2C5F9;
  border-left: 5px solid #EB6804;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  margin: 0;
  padding: 0;
  z-index: 900;
}

.hcmsContextMenu
{
  border: 1px solid #000000;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 10px #000000;
  -webkit-box-shadow: 3px 3px 10px #000000;
  -moz-box-shadow: 3px 3px 10px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsHomeBox
{
  z-index: 100;
  padding: 5px;
  overflow: auto;
  filter: alpha(opacity=95); -moz-opacity: 0.95; opacity: 0.95;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #292929;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsInfoBox
{
  z-index: 100;
  padding: 5px;
  filter: alpha(opacity=95); -moz-opacity: 0.95; opacity: 0.95;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #EFF6FF;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsImageItem
{
  border: 1px solid #808080;
  background-color: #FFFFFF;
  margin-bottom: 4px;
  box-shadow: 0px 3px 3px #000000;
  -webkit-box-shadow: 0px 3px 3px #000000;
  -moz-box-shadow: 0px 3px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='180',strength='4');
}

.hcmsButton
{
  cursor: pointer;
  padding: 2px;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsButton:hover, .hcmsButtonActive
{
  padding: 1px;
  margin: 0;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFC477), color-stop(1, #FB940C) );
	background: -moz-linear-gradient( center top, #FFC477 5%, #FB9E25 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC477', endColorstr='#FB9E25');
	background-color: #FFC477;
  border: 1px solid #FF8411;
}

.hcmsButtonBlank
{
  cursor: pointer;
  padding: 2px;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsButtonDownload
{
  width: 70px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 4px; 
  padding: 1px;
  float: left;
  text-align: center;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 3px #000000;
  -webkit-box-shadow: 2px 2px 3px #000000;
  -moz-box-shadow: 2px 2px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='4');
  cursor: pointer;
}

.hcmsButtonDownload:hover
{
  margin-top: 1px;
  margin-bottom: 3px;
  box-shadow: 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 1px #000000;
  -moz-box-shadow: 1px 1px 1px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='2');  
}

.hcmsButtonTiny
{
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.hcmsButtonTiny:hover
{
  padding: 0;
  margin: 0;
  border: 0;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFC477), color-stop(1, #FB940C) );
	background: -moz-linear-gradient( center top, #FFC477 5%, #FB9E25 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC477', endColorstr='#FB9E25');
	background-color: #FFC477;
}

.hcmsButtonTinyBlank
{
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.hcmsButtonSizeSquare
{
  width: 32px;
  height: 32px;
}

.hcmsButtonSizeHeight
{
  height: 32px;
}

.hcmsButtonBlue
{
  background-color: #65B1FC;
  border: 1px solid #469df5;
  display: inline-block;
  padding: 2px 10px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonBlue:hover
{
  background-color: #7EBDFD;
}

.hcmsButtonBlue:active
{
  position: relative;
  top: 1px;
}

.hcmsButtonGreen
{
  background-color: #77d42a;
  border: 1px solid #268a16;
  display: inline-block;
  padding: 2px 10px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonGreen:hover
{
  background-color: #99E75A;
}

.hcmsButtonGreen:active
{
  position:relative;
  top:1px;
}

.hcmsButtonOrange
{
  background-color: #FB9004;
  border: 1px solid #C28B2C;
  display: inline-block;
  padding: 2px 10px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonOrange:hover
{
  background-color: #FFC477;
}

.hcmsButtonOrange:active
{
  position: relative;
  top: 1px;
}

.hcmsMore
{
  border-top: 1px solid #C0C0C0;
  background-color: #E2ECF5;
  cursor: pointer; 
}

.hcmsMore:hover
{
  background-color: #C7DBED;
}

.hcmsStatusbar
{
  border-top: 1px solid #C0C0C0;
  background-color: #E2ECF5;
}

.hcmsHeadline
{
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-weight: bold; 
  color: #000000; 
  text-decoration: none
}

.hcmsHeadlineTiny 
{  
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: normal; 
  color: #000000; 
  text-decoration: none
}

.hcmsTextSmall 
{  
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: normal; 
  color: #000000; 
  text-decoration: none
}

.hcmsObjectSelected
{
  background-color: #A3C5F9;
}

.hcmsObjectUnselected
{
  background-color: transparent;
}

.hcmsIconTree
{
  background-repeat: no-repeat !important;
  background-position: 0 !important;
  background-size: 16px 16px !important;
  height: 16px !important;
  width: 16px !important;
  line-height: 16px !important;
}

.hcmsIconList
{
  width: 16px;
  height: 16px;
  border: 0;
  margin: 0px 0px 2px 2px;
  vertical-align: middle;
}

.hcmsIconOn
{
  border: 0;  
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.hcmsIconOff
{
  border: 0;
  filter: gray() alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
}

input, select, textarea, button
{
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid #808080;
  background-color: #FFFFFF;
  margin: 0;
  padding: 5px;
}

a 
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px !important;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  outline: none;
}

a:link 
{
  color: #000000;
}

a:hover 
{
  color: #004ACE;
}

a:visited 
{
  color: #000000;
}

a:active 
{  
  background-color: #A3C5F9;
  color: #000000;
}

html, body, span
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 11px; 
  font-weight: normal;
  color: #000000;
  white-space: nowrap;
}

.hcmsTableHeader
{
  text-align: left;
  font-weight: normal;
  border-left: 3px solid #EB6804;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
}

.hcmsTableHeader:hover
{
  background-color: #7BB5FF;
  border-left: 3px solid #EB6804;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
}

.hcmsThumbnailWidthlarge img
{
  width: 180px;
  border: 0;
}

.hcmsThumbnailWidthmedium img
{
  width: 140px;
  border: 0;
}

.hcmsThumbnailWidthsmall img
{
  width: 100px;
  border: 0;
}

.hcmsThumbnailWidthdetail img
{
  width: 124px;
  border: 0;
}

.hcmsThumbnailHeightlarge img
{
  height: 180px;
  border: 0;
}

.hcmsThumbnailHeightmedium img
{
  height: 140px;
  border: 0;
}

.hcmsThumbnailHeightsmall img
{
  height: 100px;
  border: 0;
}

.hcmsThumbnailHeightdetail img
{
  height: 124px;
  border: 0;
}

hr
{
  height: 1px;
  border-width :0;
  color: #0ACA03;
  background-color: #8EA9EC;
}

.hcmsRowHead1
{
  background-color: #42B551;
}

.hcmsRowHead2
{
  background-color: #94CE9C;
}

.hcmsRowData1
{
  background-color: #B7CFF4;
}

.hcmsRowData2
{
  background-color: #C7D9F5;
}

.hcmsLoadScreen
{
	z-index: 9000;
	display: none;
	width: 100%;
	height: 100%;
	background: url("../img/loading.gif") no-repeat center center #C8DCFF;
	position: fixed;
	opacity: 0.7;
}

.hcmsSelectArea
{
	display: none;
  border: 1px solid #359FFC;
  background-color: #65B3FC;
  position: absolute;
  z-index: 5;
  filter: gray() alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}