/* Desktop Edition */

html, body, table
{
  font-size: 12px;
}

input, select, textarea, button, .hcmsTextArea
{
  font-size: 12px;
}

.hcmsHeadline 
{  
  font-size: 12px; 
}

.hcmsHeadlineTiny 
{  
  font-size: 12px; 
}

.hcmsTextSmall 
{  
  font-size: 9px; 
}

.hcmsToolbar
{
  height: 36px;
  padding: 2px;
  white-space: nowrap;
}

.hcmsToolbarBlock
{
  padding-right: 3px;
  margin-right: 3px;
  white-space: nowrap;
}