<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
  <definition>
    <name>Simple Statistics Plugin</name>
    <author>hyperCMS</author>
    <version>1.0</version>
    <description>Simple Statistics Plugin provides basic statistics.</description>
  </definition>
  <menus>
    <main>
      <point>
        <name>Simple Statistics</name>
        <icon>img/stats.png</icon>
        <page>pages/page.php</page>
      </point>
    </main>
  <menus>
</plugin>