html, body
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 16px; 
  font-weight: normal;
  color: #FFFFFF;
  white-space: nowrap;
}

img
{
  display: inline-block;
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
  image-rendering: -webkit-crisp-edges; // Safari 7+
  image-rendering: -moz-crisp-edges; // Firefox 3.6+
  image-rendering: -o-crisp-edges; // Opera 12
}

input, select, textarea, button, .hcmsTextArea
{
  border-radius: 0px;
  box-sizing: border-box;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #FFFFFF;
  background-color: #F3F3F3;;
  margin: 2px 2px 2px 0px;
  padding: 4px 2px;
}

select
{
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAB3RJTUUH5AIODR8uwkpHZQAAAAlwSFlzAAAHRAAAB0QBKlH81AAAAARnQU1BAACxjwv8YQUAAABhSURBVHjaY2AYXMDd3X0ekPqPjqHiqKC6ulrQwcFhB7JCEB8kjqG4ubmZoaKiQl5BQeE5SCGIBvFB4higoaGBoampiSEjIyOIk5PzG4gG8UHiWBVDMWNkZGQpiIaJDTIAAHhVLzM4i7OKAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-color: #F3F3F3;
  padding-left: 2px;
  padding-right: 12px;
}

/* pseudo-element for the dropdown arrow on IE */
select::-ms-expand
{
  display: none;
}

input:disabled, select:disabled, textarea:disabled, button:disabled
{
  filter: alpha(opacity=35);
  -moz-opacity: 0.35;
  opacity: 0.35;
}

a 
{
  font-family: inherit;
  font-size: inherit;
  line-height: 16px !important;
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
  outline: none;
}

a:link 
{
  color: #FFFFFF;
}

a:hover 
{
  color: #8EDCFD;
}

a:visited 
{
  color: #FFFFFF;
}

a:active 
{  
  background-color: #7B7B7B;
  color: #FFFFFF;
}

hr
{
  height: 1px;
  border-width: 0;
  color: #0378AA;
  background-color: #146080;
}

.hcmsWorkplaceExplorer
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-right: 1px solid #000000;
  background-color: #212121;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsWorkplaceControl
{
  margin: 0;
  padding: 0;
  background-color: #3881A0;
}

.hcmsWorkplaceWorkflow
{
  background-color: #5694A9;
}

.hcmsWorkplaceObjectlist
{
  background-color: #565656;
}

.hcmsWorkplaceObjectlistLinks
{
  background-color: #39819D;
}

.hcmsWorkplaceFrame
{
  border: 0;
  margin: 0; 
  padding: 8px;
}

.hcmsWorkplaceBar
{
  background-color: #424242;
  border-bottom: 2px solid #3C95B3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  margin: 0;
  padding: 0;
  z-index: 900;
}

.hcmsContextMenu
{
  border: 1px solid #000000;
  background-color: #44859A;
  box-shadow: 3px 3px 10px #000000;
  -webkit-box-shadow: 3px 3px 10px #000000;
  -moz-box-shadow: 3px 3px 10px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsHomeBox
{
  z-index: 100;
  padding: 5px;
  overflow: auto;
  filter: alpha(opacity=95); -moz-opacity: 0.95; opacity: 0.95;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;
  background-color: #292929;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsInfoBox
{
  z-index: 100;
  padding: 5px;
  filter: alpha(opacity=95); -moz-opacity: 0.95; opacity: 0.95;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #191919;
  color: #FFFFFF;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsImageItem
{
  border: 1px solid #808080;
  background-color: #FFFFFF;
  margin-bottom: 4px;
  box-shadow: 0px 3px 3px #000000;
  -webkit-box-shadow: 0px 3px 3px #000000;
  -moz-box-shadow: 0px 3px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='180',strength='4');
}

.hcmsButton
{
  cursor: pointer;
  padding: 2px;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsButton:hover, .hcmsButtonActive
{
  padding: 1px;
  margin: 0;
  background-color: #FF8411;
  border: 1px solid #C26003;
}

.hcmsButtonBlank
{
  cursor: pointer;
  padding: 2px;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsButtonDownload
{
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 4px; 
  padding: 1px;
  float: left;
  text-align: center;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 3px #000000;
  -webkit-box-shadow: 2px 2px 3px #000000;
  -moz-box-shadow: 2px 2px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='4');
  cursor: pointer;
}

.hcmsButtonDownload:hover
{
  margin-top: 1px;
  margin-bottom: 3px;
  box-shadow: 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 1px #000000;
  -moz-box-shadow: 1px 1px 1px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='2');  
}

.hcmsButtonTiny
{
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.hcmsButtonTiny:hover
{
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #FF8411;
}

.hcmsButtonTinyBlank
{
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.hcmsButtonSizeSquare
{
  width: 32px;
  height: 32px;
}

.hcmsButtonSizeNarrow
{
  width: 16px;
  height: 32px;
}

.hcmsButtonSizeWide
{
  width: 50px;
  height: 32px;
}

.hcmsButtonSizeHeight
{
  height: 32px;
}

.hcmsButtonBlue
{
  color: #FFFFFF;
  background-color: #3094D7;
  border: 1px solid #469df5;
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonBlue:hover
{
  background-color: #5BA9DE;
}

.hcmsButtonBlue:active
{
  position: relative;
  top: 1px;
}

.hcmsButtonGreen
{
  color: #FFFFFF;
  background-color: #69A738;
  border: 1px solid #268a16;
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonGreen:hover
{
  background-color: #7CD334;
}

.hcmsButtonGreen:active
{
  position:relative;
  top:1px;
}

.hcmsButtonOrange
{
  color: #FFFFFF;
  background-color: #E58912;
  border: 1px solid #C28B2C;
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonOrange:hover
{
  background-color: #ECA03C;
}

.hcmsButtonOrange:active
{
  position: relative;
  top: 1px;
}

.hcmsMore
{
  border-top: 1px solid #6F6F6F;
  background-color: #7B7B7B;
  cursor: pointer; 
}

.hcmsMore:hover
{
  background-color: #3E3E3E;
}

.hcmsStatusbar
{
  border-top: 1px solid #6F6F6F;
  background-color: #7B7B7B;
}

.hcmsHeadline
{  
  font-family: inherit;
  font-size: 15px; 
  font-weight: bold; 
  color: #FFFFFF; 
  text-decoration: none
}

.hcmsHeadlineTiny 
{  
  font-family: inherit;
  font-size: 15px; 
  font-weight: normal; 
  color: #9ADBE4; 
  text-decoration: none
}

.hcmsTextSmall 
{  
  font-family: inherit;
  font-size: 11px; 
  font-weight: normal; 
  color: #FFFFFF; 
  text-decoration: none
}

tr.hcmsObjectSelected
{
  background-color: #7B7B7B;
}

tr.hcmsObjectUnselected
{
  background-color: transparent;
}

div.hcmsObjectSelected
{
  margin: 2px;
  background-color: #7B7B7B;
  background-image: url("../img/button_textc.png");
  background-repeat: no-repeat !important;
  background-position: 2% 98% !important;
  background-size: 22px 22px !important;
}

div.hcmsObjectUnselected
{
  margin: 2px;
  background-color: transparent;
}

.hcmsIconTree
{
  background-repeat:no-repeat !important;
  background-position:0 !important;
  background-size: 16px 16px !important;
  height: 16px !important;
  width: 16px !important;
  line-height: 16px !important;
}

.hcmsIconList
{
  width: 18px;
  height: 18px;
  border: 0;
  margin: 0px 0px 2px 2px;
  vertical-align: middle;
}

.hcmsIconOn
{
  border: 0;  
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.hcmsIconOff
{
  border: 0;
  filter: gray() alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
}

.hcmsTableHeader
{
  border-left: 3px solid #EB7B04;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
}

.hcmsTableHeader:hover
{
  background-color: #EB7B04;
  border-left: 3px solid #EB7B04;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
}

.hcmsThumbnailWidthlarge img
{
  width: 220px;
  border: 0;
}

.hcmsThumbnailWidthmedium img
{
  width: 160px;
  border: 0;
}

.hcmsThumbnailWidthsmall img
{
  width: 100px;
  border: 0;
}

.hcmsThumbnailWidthdetail img
{
  width: 124px;
  border: 0;
}

.hcmsThumbnailHeightlarge img
{
  height: 220px;
  border: 0;
}

.hcmsThumbnailHeightmedium img
{
  height: 160px;
  border: 0;
}

.hcmsThumbnailHeightsmall img
{
  height: 100px;
  border: 0;
}

.hcmsThumbnailHeightdetail img
{
  height: 124px;
  border: 0;
}
.hcmsRowHead1
{
  background-color: #909090;
}

.hcmsRowHead2
{
  background-color: #7C756A;
}

.hcmsRowData1
{
  background-color: #777777;
}

.hcmsRowData2
{
  background-color: #909090;
}

.hcmsLoadScreen
{
  z-index: 9000;
  display: none;
  width: 100%;
  height: 100%;
  background: url("../img/loading.gif") no-repeat center center #565656;
  position: fixed;
  opacity: 0.9;
}

.hcmsSelectArea
{
  display: none;
  border: 1px solid #44859A;
  background-color: #5CA4BC;
  position: absolute;
  z-index: 5;
  filter: gray() alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

table.hcmsTableStandard
{
  display: table;
  table-layout: auto;
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
}

table.hcmsTableStandard th, table.hcmsTableStandard td
{
  padding: 2px 2px 2px 4px;
  text-align: left;
  vertical-align: middle;
}

table.hcmsTableNarrow
{
  display: table;
  table-layout: auto;
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
}

table.hcmsTableNarrow th, table.hcmsTableNarrow td
{
  height: 18px;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}