.hcmsStartBar
{
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
  margin: 0 0 120px 0;
  padding: 0;
  border-bottom: 2px solid #5AAD5A;
}

.hcmsStartScreen
{
  background-image: url('../img/backgrd_start.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-color: #CFD4DD;
  font-size: medium;
  text-align: center;
  padding: 0;
  margin: 0;
}

.hcmsLogonScreen
{
  width: 260px;
  background-color: #CFD4DD;
  border: 1px solid #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  margin: auto;
  padding: 20px 20px 20px 20px; 
  text-align: left; 
}

.hcmsWorkplaceTop
{
  background-color: #1E2738;
  background-image: url('../img/backgrd_top.png');
  background-repeat: repeat;
}

.hcmsWorkplaceBar
{
  background-color: #9AA1A7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDEE0', endColorstr='#9AA1A7');
  background-image: linear-gradient(#DCDEE0 0%, #9AA1A7 100%);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DCDEE0), color-stop(1, #9AA1A7) );
  background: -moz-linear-gradient( center top, #DCDEE0 5%, #9AA1A7 100% );
  border-bottom: 1px solid #FB841C;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  margin: 0;
  padding: 0;
  z-index: 900;
}

.hcmsLocationBar
{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.hcmsContextMenu
{
  border: 1px solid #000000;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsChatBar
{
  border-left: 1px solid #000000;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsImageItem
{
  border: 1px solid #808080;
  background-color: #FFFFFF;
  margin-bottom: 4px;
  box-shadow: 2px 2px 3px #000000;
  -webkit-box-shadow: 2px 2px 3px #000000;
  -moz-box-shadow: 2px 2px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='4');
}

.hcmsWorkplaceControl
{
  margin: 0;
  padding: 0;
  background-color: #93959b;
}

.hcmsWorkplaceControlWallpaper
{
  margin: 0;
  padding: 0;
  background-color: #93959b;
  background-image: url('../img/backgrd_control.jpg');
  background-repeat: no-repeat;
}

.hcmsToolbar
{
  width: 100%;
  height: 26px;
  padding: 2px;
  border-top: 1px solid #D8DADC;
  border-bottom: 1px solid #D8DADC; 
  display: block;
}

.hcmsToolbarBlock
{
  float: left;
  padding-right: 1px;
  margin-right: 1px;
  border-right: 1px solid #D8DADC; 
}

.hcmsWorkplaceExplorer
{
  margin: 0;
  padding: 0;
  background-color: #B6BCC5;
}

.hcmsWorkplaceObjectlist
{
  background-color: #D8DADC;
}

.hcmsWorkplaceWorkflow
{
  background-color: #B7C3D4;
}

.hcmsWorkplaceGeneric
{
  background-image: url('../img/backgrd_workplace.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #e3e4ec;
  margin: 0; 
  padding: 0;  
  width: 100%;
  height: 100%;
  overflow: auto;
}

.hcmsWorkplaceFrame
{
  border: 0;
  margin: 0; 
  padding: 4px;
}

.hcmsMediaRendering
{
  border: 1px solid #FBAD04;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #EAEFF4;
  box-shadow: 2px 2px 3px #000000;
  -webkit-box-shadow: 2px 2px 3px #000000;
  -moz-box-shadow: 2px 2px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='4');
}

.hcmsTemplateField
{
  border: 1px solid #000000;
  background-color: #FFFFFF;
}

.hcmsRowHead1
{
  background-color: #86D391;
}

.hcmsRowHead2
{
  background-color: #AFCBB3;
}

.hcmsRowData1
{
  background-color: #DADDE2;
}

.hcmsRowData2
{
  background-color: #D2D2D2;
}

.hcmsPriorityHigh
{
  background-color: #FC9A45;
}

.hcmsPriorityMedium
{
  background-color: #FDCE7E;
}

.hcmsPriorityLow
{
  background-color: #AECDFE;
}

.hcmsMessage
{
  vertical-align: middle;
  border: 2px solid #788290;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #D5DDE7;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsInfoBox
{
  z-index: 100;
  padding: 5px;
  filter: alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9;
  vertical-align: middle;
  border: 1px solid #FBAD04;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #EFF6FF;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsButton
{
  cursor: pointer;
  padding: 2px;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsButton:hover
{
  padding: 1px;
  margin: 0;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFC477), color-stop(1, #FB940C) );
  background: -moz-linear-gradient( center top, #FFC477 5%, #FB9E25 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC477', endColorstr='#FB9E25');
  background-color: #FFC477;
  border: 1px solid #FF8411;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.hcmsButtonBlank
{
  cursor: pointer;
  padding: 2px;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsButtonOff
{
  padding: 2px;
  margin: 0;
  border: 0;
  filter: gray() alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
  float: left;
  z-index: 0;
}

.hcmsButtonTiny
{
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.hcmsButtonTiny:hover
{
  padding: 0;
  margin: 0;
  border: 0;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFC477), color-stop(1, #FB940C) );
  background: -moz-linear-gradient( center top, #FFC477 5%, #FB9E25 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC477', endColorstr='#FB9E25');
  background-color: #FFC477;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.hcmsButtonTinyBlank
{
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.hcmsButtonTinyOff
{
  padding: 0;
  margin: 0;
  border: 0;
  filter: gray() alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
}

.hcmsButtonClose
{
  background-image: url(../img/button_close.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.hcmsButtonClose:hover
{
  background-image: url(../img/button_close_over.gif);
}

.hcmsButtonSizeSquare
{
  width: 22px;
  height: 22px;
}

.hcmsButtonSizeNarrow
{
  width: 12px;
  height: 22px;
}

.hcmsButtonSizeWide
{
  width: 34px;
  height: 22px;
}

.hcmsButtonMenu
{
  height: 22px;
  border-right: 1px solid #C0C0C0;
  float: left;
  padding: 6px 10px 0px 10px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonMenu:hover
{
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DCDEE0), color-stop(1, #86888A) );
  background: -moz-linear-gradient( center top, #DCDEE0 5%, #86888A 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDEE0', endColorstr='#86888A');
  background-color: #9AA1A7;
}

.hcmsButtonMenu:active
{
  position: relative;
  top: 1px;
}

.hcmsButtonMenuActive
{
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DCDEE0), color-stop(1, #86888A) );
  background: -moz-linear-gradient( center top, #DCDEE0 5%, #86888A 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDEE0', endColorstr='#86888A');
  background-color: #9AA1A7;
  position: relative;
  top: 1px;
}

.hcmsButtonBlue
{
  -moz-box-shadow: inset 0px 1px 0px 0px #cae3fc;
  -webkit-box-shadow: inset 0px 1px 0px 0px #cae3fc;
  box-shadow: inset 0px 1px 0px 0px #cae3fc;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
  background: -moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
  background-color: #79bbff;
  -moz-border-radius: 4px;
  -webkit-border-radius:4px;
  border-radius: 4px;
  border: 1px solid #469df5;
  display: inline-block;
  padding: 2px 10px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonBlue:hover
{
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
  background: -moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
  background-color: #4197ee;
}

.hcmsButtonBlue:active
{
  position: relative;
  top: 1px;
}

.hcmsButtonGreen
{
  -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
  background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  background-color: #77d42a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #268a16;
  display: inline-block;
  padding: 2px 10px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonGreen:hover
{
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
  background: -moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
  background-color: #5cb811;
}

.hcmsButtonGreen:active
{
  position:relative;
  top:1px;
}

.hcmsButtonOrange
{
  -moz-box-shadow: inset 0px 1px 0px 0px #FCE2C1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #FCE2C1;
  box-shadow: inset 0px 1px 0px 0px #FCE2C1;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFC477), color-stop(1, #FB940C) );
  background: -moz-linear-gradient( center top, #FFC477 5%, #FB9E25 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC477', endColorstr='#FB9E25');
  background-color: #FFC477;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #FF8411;
  display: inline-block;
  padding: 2px 10px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonOrange:hover
{
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FB940C), color-stop(1, #FFC477) );
  background: -moz-linear-gradient( center top, #FB940C 5%, #FFC477 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB940C', endColorstr='#FFC477');
  background-color: #FB9E25;
}

.hcmsButtonOrange:active
{
  position: relative;
  top: 1px;
}

.hcmsSelector
{
  margin: 0;
  padding: 1px;
  background-image: linear-gradient(#FFC477 0%, #FB940C 100%);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFC477), color-stop(1, #FB940C) );
  background: -moz-linear-gradient( center top, #FFC477 5%, #FB9E25 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC477', endColorstr='#FB9E25');
  background-color: #FFC477;
  border: 1px solid #FF8411;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsSelectorItem
{
  font-size: 11px;
  cursor: pointer;
  margin: 0;
  padding: 0 20px 0 0;
  background-color: #FCB335;
  border: 0;
}

.hcmsSelectorItem:hover
{
  background-color: #FF9000;
}

.hcmsHeadline 
{  
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-weight: bold; 
  color: #000000; 
  text-decoration: none;
  padding: 3px;
}

.hcmsHeadlineTiny 
{  
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-weight: normal; 
  color: #58524D; 
  text-decoration: none;
}

.hcmsTextSmall 
{  
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 9px; 
  font-weight: normal; 
  color: #000000; 
  text-decoration: none;
}

.hcmsTabContainer
{
  width: 100%;
  height: 22px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #000000;
  display: block;
}

.hcmsTab
{
  background-image:url('../img/backgrd_tabs.gif');
  width: 116px;
  height: 18px;
  padding: 2px;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.hcmsLoadScreen
{
  z-index: 9000;
  display: none;
  width: 100%;
  height: 100%;
  background: url("../img/loading.gif") no-repeat center center #e3e4ec;
  position: fixed;
  opacity: 0.7;
}

.hcmsTextGreen
{
  color: #5AAD5A; 
}

.hcmsTextOrange
{
  color: #F78C31; 
}

.hcmsTextWhite
{
  color: #FFFFFF; 
}

.hcmsRequiredInput
{
  color: red;
}

input, select, textarea 
{
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid #C6C6C6;
  background-color: #FFFFFF;
  margin: 0;
  padding: 2px;
}

a 
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  outline: none;
}

a:link 
{
  color: #000000;
}

a:hover 
{
  color: #004ACE;
}

a:visited 
{
  color: #000000;
}

a:active 
{
  color: #000000;
}

html, body
{
  width: 100%;
  height: 100%;
}

html, body, table, td, span
{  
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-weight: normal; 
  color: #000000; 
  text-decoration: none;
}

ul.hcmsStructuredList
{
  list-style-type: none;
  padding: 2px;
  margin: 2px;
}

ul.hcmsStructuredList li
{
  padding-left: 14px;
}

ins
{
  color: green;
}

del
{
  color: red;
}

hr
{
  height: 1px;
  border-width :0;
  color: #0ACA03;
  background-color: #C0C0C0;
}