/* General */

html, body
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
}

img
{
  display: inline-block;
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
  image-rendering: -webkit-crisp-edges; // Safari 7+
  image-rendering: -moz-crisp-edges; // Firefox 3.6+
  image-rendering: -o-crisp-edges; // Opera 12
}

input, select, textarea, button, .hcmsTextArea 
{
  border-radius: 0px;
  box-sizing: border-box;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #808080;
  background-color: #F3F3F3;
  margin: 1px 1px 1px 0px;
  padding: 6px 4px;
  outline: none;
}

select
{
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAB3RJTUUH5AIODR8uwkpHZQAAAAlwSFlzAAAHRAAAB0QBKlH81AAAAARnQU1BAACxjwv8YQUAAABhSURBVHjaY2AYXMDd3X0ekPqPjqHiqKC6ulrQwcFhB7JCEB8kjqG4ubmZoaKiQl5BQeE5SCGIBvFB4higoaGBoampiSEjIyOIk5PzG4gG8UHiWBVDMWNkZGQpiIaJDTIAAHhVLzM4i7OKAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-color: #F3F3F3;
  padding-left: 2px;
  padding-right: 16px;
}

/* pseudo-element for the dropdown arrow on IE */
select::-ms-expand
{
  display: none;
}

input:focus, select:focus, textarea:focus, .hcmsTextArea:focus
{
  border: 1px solid #FC9300;
}

input:disabled, select:disabled, textarea:disabled, button:disabled
{
  filter: alpha(opacity=35);
  -moz-opacity: 0.35;
  opacity: 0.35;
}

a
{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: #FFFFFF;
  outline: none;
}

a:link 
{
  color: #FFFFFF;
}

a:hover 
{
  color: #F39F04;
}

a:visited 
{
  color: #FFFFFF;
}

a:active 
{  
  background-color: #7B7B7B;
  color: #FFFFFF;
}

ins
{
  color: green;
}

del
{
  color: red;
}

hr
{
  height: 1px;
  border-width :0;
  color: #0ACA03;
  background-color: #C0C0C0;
}

/* Main */

a.hcmsLink
{
  text-decoration: underline;
}

.hcmsCenter
{
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

.hcmsHomeSpacer
{
  width: 94%;
  height: 32px;
  display: block;
}

.hcmsStartBar
{
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 8000;
  width: 100%;
  height: 80px;
  margin: 0 0 120px 0;
  padding: 0;
  font-size: 14px;
  text-align: left; 
}

.hcmsStartScreen
{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  height: 100%;
  background-image: url('../img/backgrd_start.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
  background-color: #808080;
  padding: 0;
  margin: 0;
  transition: all 0.3s linear;
}

.hcmsBlur
{
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  transition: all 0.5s linear;
}

.hcmsLogonScreen
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -130px;
  z-index: 8000;
  width: 260px;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
}

.hcmsWorkplaceTop
{
  background-color: #DB7604;
}

.hcmsLogoTop
{
  max-width: 36px;
  max-height: 36px;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsWorkplaceTop input
{
  border: 1px solid #EB7F04;
  background-color: #ECBC86;
}

.hcmsWorkplaceBar
{
  background-color: #424242;
  border-bottom: 2px solid #FB841C;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 38px;
  margin: 0;
  padding: 0;
  z-index: 900;
}

.hcmsLocationBar
{
  width: 100%;
  background-color: #313131;
  margin: 0;
  padding: 0px 3px;
  border-left: 5px solid #EB6804;
  display: block;
}

.hcmsContextMenu
{
  border: 1px solid #000000;
  background-color: #6F6F6F;
  box-shadow: 3px 3px 10px #000000;
  -webkit-box-shadow: 3px 3px 10px #000000;
  -moz-box-shadow: 3px 3px 10px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsChatBar
{
  border-left: 1px solid #000000;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsBoxShadow
{
  box-shadow: 0px 0px 12px #000000;
  -webkit-box-shadow: 0px 0px 12px #000000;
  -moz-box-shadow: 0px 0px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='0',strength='5');
}

.hcmsImageItem
{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
  border: 0;
  margin-bottom: 4px;
}

.hcmsWorkplaceControl
{
  margin: 0;
  padding: 0;
  background-color: #787878;
}

.hcmsWorkplaceControlWallpaper
{
  margin: 0;
  padding: 0;
  background-color: #787878;
  background-image: url('../img/backgrd_control.jpg');
  background-repeat: repeat;
}

.hcmsToolbar
{
  width: 100%;
  display: block;
}

.hcmsToolbarBlock
{
  float: left;
  border-right: 2px solid #D8DADC; 
}

.hcmsWorkplaceWorkflow
{
  background-color: #2D2D2D;
}

.hcmsWorkplaceGeneric
{
  background-color: #424242;
  margin: 0; 
  padding: 0;
  overflow: auto;
}

.hcmsWorkplaceFrame
{
  border: 0;
  margin: 0; 
  padding: 8px;
}

.hcmsMediaRendering
{
  border: 1px solid #FBAD04;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #737373;
  box-shadow: 2px 2px 3px #000000;
  -webkit-box-shadow: 2px 2px 3px #000000;
  -moz-box-shadow: 2px 2px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='4');
}

.hcmsTemplateField
{
  border: 1px solid #000000;
  background-color: #FFFFFF;
}

.hcmsFormRowLabel
{
  font-size: 14px;
  padding: 14px 2px 6px 4px;
  display: block;
}

.hcmsFormRowContent
{
  padding: 2px 2px 2px 4px;
  display: block;
}

.hcmsRowHead1
{
  background-color: #E36804;
}

.hcmsRowHead2
{
  background-color: #1D1D1D;
}

.hcmsRowData1
{
  background-color: #777777;
}

.hcmsRowData2
{
  background-color: #909090;
}

.hcmsPriorityAlarm
{
  background-color: #DE3E04;
}

.hcmsPriorityHigh
{
  background-color: #FB7C0C;
}

.hcmsPriorityMedium
{
  background-color: #FCB335;
}

.hcmsPriorityLow
{
  background-color: #83B2C6;
}

.hcmsToDo
{
  background-color: #FB7C0C;
}

.hcmsInProgress
{
  background-color: #3094D7;
}

.hcmsFinished
{
  background-color: #69A738;
}

.hcmsMessage
{
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #737373;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsHomeBox
{
  z-index: 100;
  padding: 5px;
  overflow: auto;
  filter: alpha(opacity=95); -moz-opacity: 0.95; opacity: 0.95;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: inherit;
  background-color: #292929;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsInfoBox
{
  z-index: 100;
  padding: 5px;
  overflow: auto;
  filter: alpha(opacity=95); -moz-opacity: 0.95; opacity: 0.95;
  vertical-align: middle;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #191919;
  color: #FFFFFF;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsIconList
{
  width: 16px;
  height: 16px;
  border: 0;
  margin: 0px 0px 2px 2px;
  vertical-align: middle;
}

.hcmsButton
{
  cursor: pointer;
  padding: 2px;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsButton:hover, .hcmsButtonActive
{
  padding: 1px;
  margin: 0;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFC477), color-stop(1, #FB940C) );
  background: -moz-linear-gradient( center top, #FFC477 5%, #FB9E25 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC477', endColorstr='#FB9E25');
  background-color: #FFC477;
  border: 1px solid #FF8411;
}

.hcmsButtonBlank
{
  cursor: pointer;
  padding: 2px;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsButtonOff
{
  padding: 2px;
  margin: 0;
  border: 0;
  filter: gray() alpha(opacity=30);  -moz-opacity: 0.3; opacity: 0.3;
  float: left;
  z-index: 0;
}

.hcmsButtonTiny
{
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.hcmsButtonTiny:hover
{
  padding: 0;
  margin: 0;
  border: 0;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFC477), color-stop(1, #FB940C) );
  background: -moz-linear-gradient( center top, #FFC477 5%, #FB9E25 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC477', endColorstr='#FB9E25');
  background-color: #FFC477;
}

.hcmsButtonTinyBlank
{
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
}

.hcmsButtonTinyOff
{
  padding: 0;
  margin: 0;
  border: 0;
  filter: gray() alpha(opacity=30); -moz-opacity: 0.3; opacity: 0.3;
}

.hcmsButtonClose
{
  cursor: pointer;
  background-image: url(../img/button_close.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  border: 0;
  float: left;
}

.hcmsButtonClose:hover
{
  background-image: url(../img/button_close_over.png);
}

.hcmsButtonSizeSquare
{
  width: 32px;
  height: 32px;
}

.hcmsButtonSizeNarrow
{
  width: 16px;
  height: 32px;
}

.hcmsButtonSizeWide
{
  width: 50px;
  height: 32px;
}

.hcmsButtonSizeHeight
{
  height: 32px;
}

.hcmsButtonMenu
{
  height: 32px;
  line-height: 32px;
  border-right: 1px solid #C0C0C0;
  float: left;
  padding: 0px 6px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonMenu:hover
{
  background-color: #FB8C0C;
}

.hcmsButtonMenu:active
{
  position: relative;
  top: 1px;
}

.hcmsButtonMenuActive
{
  background-color: #FB8C0C;
  position: relative;
  top: 1px;
}

.hcmsButtonBlue
{
  color: #FFFFFF;
  background-color: #3094D7;
  border: 1px solid #469df5;
  display: inline-block;
  padding: 4px 6px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonBlue:hover
{
  background-color: #5BA9DE;
}

.hcmsButtonBlue:active
{
  position: relative;
  top: 1px;
}

.hcmsButtonGreen
{
  color: #FFFFFF;
  background-color: #69A738;
  border: 1px solid #268a16;
  display: inline-block;
  padding: 4px 6px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonGreen:hover
{
  background-color: #7CD334;
}

.hcmsButtonGreen:active
{
  position:relative;
  top:1px;
}

.hcmsButtonOrange
{
  color: #FFFFFF;
  background-color: #E58912;
  border: 1px solid #C28B2C;
  display: inline-block;
  padding: 4px 6px;
  text-decoration: none;
  cursor: pointer;
}

.hcmsButtonOrange:hover
{
  background-color: #ECA03C;
}

.hcmsButtonOrange:active
{
  position: relative;
  top: 1px;
}

.hcmsSelector
{
  margin: 0;
  padding: 1px;
  background-color: #D25D03;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 12px #000000;
  -webkit-box-shadow: 3px 3px 12px #000000;
  -moz-box-shadow: 3px 3px 12px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',direction='120',strength='5');
}

.hcmsSelectorItem
{
  font-size: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0 20px 0 0;
  border: 0;
}

.hcmsSelectorItem:hover
{
  background-color: #FB8C14;
}

.hcmsHeadline 
{  
  font-family: inherit;
  font-size: inherit; 
  font-weight: bold; 
  color: #FFFFFF; 
  text-decoration: none;
  padding: 3px 0px;
}

.hcmsHeadlineTiny 
{  
  font-family: inherit;
  font-size: inherit; 
  font-weight: normal; 
  color: #fddab5; 
  text-decoration: none;
}

.hcmsTextSmall 
{  
  font-family: inherit;
  font-size: 9px; 
  font-weight: normal; 
  color: #FFFFFF; 
  text-decoration: none;
}

.hcmsTabContainer
{
  width: 100%;
  min-width: 320px;
  height: 22px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #000000;
  display: block;
}

.hcmsTabActive
{
  float: left;
  background-color: #424242;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 2px solid #424242;
  width: 116px;
  height: 17px;
  padding: 2px;
  margin: 0px 0px -2px 3px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.hcmsTabPassive
{
  float: left;
  background-color: #676767;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 0;
  width: 116px;
  height: 17px;
  padding: 2px;
  margin: 0px 0px -2px 3px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.hcmsLoadScreen
{
  z-index: 999999;
  display: none;
  width: 100%;
  height: 100%;
  background: url("../img/loading.gif") no-repeat center center #565656;
  position: fixed;
  filter: alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9;
}

.hcmsTextGreen
{
  color: #5AAD5A; 
}

.hcmsTextOrange
{
  color: #F78C31; 
}

.hcmsTextWhite
{
  color: #FFFFFF; 
}

.hcmsTextShadow
{
  text-shadow: 0px 0px 2px #000000;
}

.hcmsRequiredInput
{
  border: 1px solid red;
  color: red;
}

.hcmsFace
{
  position: absolute;
  z-index:  9;
  border: 2px solid #FFFFFF;
  filter: alpha(opacity=70); -moz-opacity: 0.7; opacity: 0.7;
  cursor: pointer;
  box-shadow: 2px 2px 10px #000000;
  -webkit-box-shadow: 2px 2px 10px #000000;
  -moz-box-shadow: 2px 2px 10px #000000;
}

ul.hcmsStructuredList
{
  list-style-type: none;
  padding: 2px;
  margin: 2px;
}

ul.hcmsStructuredList li
{
  padding-left: 14px;
}

table.hcmsTableStandard
{
  display: table;
  table-layout: auto;
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
}

table.hcmsTableStandard th, table.hcmsTableStandard td
{
  padding: 2px 2px 2px 4px;
  text-align: left;
  vertical-align: middle;
}

table.hcmsTableNarrow
{
  display: table;
  table-layout: auto;
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
}

table.hcmsTableNarrow th, table.hcmsTableNarrow td
{
  height: 18px;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

/* Navigator */

a.hcmsNavigator
{
  font-family: inherit;
  font-size: inherit;
  line-height: 16px !important;
  font-style: normal !important;
  text-decoration: none !important;
  outline: none;
  padding-left: 0px !important;
}

.hcmsWorkplaceExplorer
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #212121;
}

.hcmsWorkplaceObjectlist
{
  background-color: #292929;
}

.hcmsWorkplaceObjectlistLinks
{
  background-color: #3E6517
}

.hcmsButtonDownload
{
  min-width: 70px;
  margin: 4px 2px;
  padding: 1px;
  float: left;
  text-align: center;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.hcmsButtonDownload:hover
{
  background-color: #ECA03C;
}

.hcmsMore
{
  border-top: 1px solid #6F6F6F;
  background-color: #7B7B7B;
  cursor: pointer; 
}

.hcmsMore:hover
{
  background-color: #3E3E3E;
}

.hcmsStatusbar
{
  border-top: 1px solid #6F6F6F;
  background-color: #7B7B7B;
}

tr.hcmsObjectSelected
{
  background-color: #7B7B7B;
}

tr.hcmsObjectUnselected
{
  background-color: transparent;
}

div.hcmsObjectSelected
{
  margin: 2px;
  background-color: #7B7B7B;
  background-image: url("../img/button_textc.png");
  background-repeat: no-repeat !important;
  background-position: 2% 98% !important;
  background-size: 22px 22px !important;
}

div.hcmsObjectUnselected
{
  margin: 2px;
  background-color: transparent;
}

.hcmsIconTree
{
  background-repeat:no-repeat !important;
  background-position:0 !important;
  background-size: 16px 16px !important;
  height: 16px !important;
  width: 16px !important;
  line-height: 16px !important;
}

.hcmsIconOn
{
  border: 0;  
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.hcmsIconOff
{
  border: 0;
  filter: gray() alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
}

.hcmsTableHeader
{
  text-align: left;
  font-weight: normal;
  border-left: 3px solid #EB7B04;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
}

.hcmsTableHeader:hover
{
  background-color: #EB7B04;
  border-left: 3px solid #EB7B04;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
}

.hcmsSelectArea
{
  display: none;
  border: 1px solid #FB980C;
  background-color: #FCB045;
  position: absolute;
  z-index: 5;
  filter: gray() alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}